.button {
  display: block;

  width: 300px;
  min-height: 36px;
  .margin-center;

  font-weight: 500;
  font-size: 12px;
  color: @font-white;
  text-transform: uppercase;
  letter-spacing: 0.24px;

  background-color: @orange;
  border-radius: 4px;
  border: 2px solid @orange;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }

  &:active {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 301px;
    margin-right: 143px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 305px;
    min-height: 40px;
    margin-right: 188px;
  }
}
