.user-nav {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  .list-style;
  padding-top: 15px;
  padding-bottom: 7px;
}

.user-nav__item {
  padding-top: 13px;
  padding-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .user-nav {
    .hidden;
  }
}
